*{
    padding: 0;
    margin: 0;
}
.aa{
    padding-left: 520px;
}
.nav-item{
   margin-left: 80px;
}
.navbar-header{
    font-size: 30px
}
.one{
    background-image: url(/image/360_F_290828816_pbLVbblZaoCMVSeDxtayjDZNfrMAlvrQ.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white;
}
.tt{
    background: rgba(0, 0, 0, 0.9); 
}
.tt h5{
    color: #18d26e;
}
.o{
    background-color: #1f1e1e;
    width: 500px;
    height: 98px;
    padding: 20px;
    border: 2px none;
}
.o {
    transition: transform .5s ease-in-out;
    -moz-transition: transform .5s ease-in-out;
    -webkit-transition: transform .5s ease-in-out;
  }
  
.o:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
/* .o p{
    padding-left: 10px;
} */
.oo{
    background-color: #1f1e1e;
    height: 400px;
    
}
.btn button{
    height: 30px;
    width: 100px;
    background-color: #18d26e;
    border-radius: 8px;
    border: none;
}
.btn button {
    transition: transform .5s ease-in-out;
    -moz-transition: transform .5s ease-in-out;
    -webkit-transition: transform .5s ease-in-out;
}
  
.btn button:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.o h4{
    color:#18d26e;
}
.o{
    position: relative;
    animation: mymove 5s;
    animation-fill-mode: forwards;
}
.oone{animation-timing-function: ease;}
.ot{animation-timing-function: ease-out;}
.oth{animation-timing-function: ease-in-out;}
.of{animation-timing-function: linear;}
@keyframes mymove {
    from {right: 300px;}
    to {right: 0px;}
  }
.fa {
    padding: 8px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;  
    margin: 5px;
    margin-left: 10px;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-google {
    background: #dd4b39;
    color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.active.slideDown {
    animation-name: slideDown;
    -webkit-animation-name: slideDown;
    animation-duration: 3s;
    -webkit-animation-duration: 2s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    visibility: visible !important;
    
}
  
  @keyframes slideDown {
    0% {
      transform: translateY(-100%);
    }
    50% {
      transform: translateY(8%);
    }
    65% {
      transform: translateY(-4%);
    }
    80% {
      transform: translateY(4%);
    }
    95% {
      transform: translateY(-2%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  
  @-webkit-keyframes slideDown {
    0% {
      -webkit-transform: translateY(-100%);
    }
    50% {
      -webkit-transform: translateY(8%);
    }
    65% {
      -webkit-transform: translateY(-4%);
    }
    80% {
      -webkit-transform: translateY(4%);
    }
    95% {
      -webkit-transform: translateY(-2%);
    }
    100% {
      -webkit-transform: translateY(0%);
    }
  }
  .reveal{
    position: relative;
    transform: translateY(40px);
    opacity: 0;
    transition: 1s all ease;
}
  
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}
.ft{
    background: rgba(0, 0, 0, 0.9); 
    height: 50px;
}
.ft p{
    padding-left: 50px;
    padding-top: 10px;
}
.fto{
    color: #18d26e;
}
@media screen and (max-width: 768px) {
    .aa{
        padding-left: 180px;
    }
    .nav-item{
        margin-left: 50px;
    }
    .o{
        width: 370px;
    }
    .k iframe{
        width: 300px;
        margin-left: 25px ;
    }
}
@media screen and (max-width: 425px){
     .o{
        margin-top: 20px;
        margin-left: 10px;
     }
     .k iframe{
        width: 370px;
        height: 300px;
        margin-left: 10px;
        margin-top: 20px;
     }
     #name{
        margin-left: 20px;
        width: 350px;
     }
     #email{
        margin-top: 20px;
        margin-left: 20px;
        width: 350px;
     }
     #comment{
        margin-left: 20px;
        width: 350px;
     }
     .btn{
        margin-left: 120px;
    }
    .aa{
        padding-left: 0px;
    }
    .nav-item{
        margin-left: 0px;
    }
}
@media screen and (max-width: 375px){
    .btn{
        margin-left: 100px;
    }
    .o{
        width: 340px;
    }
    #name{
        width: 300px;
    }
    #email{
        width: 300px;
    }
    #comment{
        width: 300px;
    }
    .k iframe{
        width: 320px; 
    }
}
@media screen and (max-width: 320px){
    .btn{
        margin-left: 80px;
    }
    .o{
        margin-left: 3px;
        width: 290px;
        height: 120px;
    }
    .k iframe{
        width: 270px; 
    }
    #name{
        width: 250px;
    }
    #email{
        width: 250px;
    }
    #comment{
        width: 250px;
    }
}