<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<!---------------------------------------------- navbar ----------------------------------------------------->
<nav class="navbar navbar-expand-sm" style="background-color: rgba(0, 0, 0, 0.9);">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav aa">
          <li class="nav-item ">
            <a class="nav-link" routerLink='/home' style="color: #18d26e;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/about' style="color: #18d26e;">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/resume" style="color: #18d26e;">Resume</a>
          </li>  
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" style="color: #18d26e;">Contact</a>
          </li>  
        </ul>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>
<!------------------------------------------------- section1 ----------------------------------------------------->
<div [ngClass]="two" class="col-12" ><br>
    <div class="container col-md-11">
        <h5 [ngStyle]="x">{{a}}</h5><hr>
       <h1>{{aone}}</h1><br><br>
       <div class="row">
        <div class="ti col-md-4 ">
          <img [src]="ai">
        </div>
        <div class="th col-md-8">
          <h1><span id="spin"></span></h1>
          <br>
          <div class="row animate-element left" id="myElement">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-1">
                  <span class="material-symbols-outlined">
                  arrow_right
                  </span></div>
                <div class="col-md-8">
                  <p><strong>Birthday :</strong> 25 October 2002</p><br>
                  </div>
                </div>
                 <div class="row">
                    <div class="col-md-1">
                      <span class="material-symbols-outlined">
                      arrow_right
                      </span></div>
                    <div class="col-md-8">
                      <p><strong>Gender :</strong> Male</p><br>
                      </div>
                    </div>
                <div class="row">
                      <div class="col-md-1">
                        <span class="material-symbols-outlined">
                        arrow_right
                        </span></div>
                      <div class="col-md-8">
                        <p><strong>Phone :</strong> 9600247213</p><br>
                        </div>
                      </div>
                <div class="row">
                        <div class="col-md-1">
                          <span class="material-symbols-outlined">
                          arrow_right
                          </span></div>
                        <div class="col-md-8">
                          <p><strong>City :</strong> Karur</p><br>
                          </div>
                        </div>
                </div><br>
      <div class="col-md-6 ">
                    <div class="row">
                      <div class="col-md-1">
                        <span class="material-symbols-outlined">
                        arrow_right
                        </span></div>
                      <div class="col-md-8">
                        <p><strong>Age :</strong> 21</p><br>
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-md-1">
                            <span class="material-symbols-outlined">
                            arrow_right
                            </span></div>
                          <div class="col-md-8">
                            <p><strong>Degree :</strong> BCA</p><br>
                            </div>
                          </div>
                      <div class="row">
                            <div class="col-md-1">
                              <span class="material-symbols-outlined">
                              arrow_right
                              </span></div>
                            <div class="col-md-8">
                              <p><strong>Email :</strong> madhavanvignesh5</p><br>
                              </div>
                            </div>
                      <div class="row">
                              <div class="col-md-1">
                                <span class="material-symbols-outlined">
                                arrow_right
                                </span></div>
                              <div class="col-md-8">
                                <p><strong>FreeLanca :</strong> </p><br>
                                </div>
                              </div>
        </div>
      </div>  
    </div>
<div class="row atp">
  <div class="col-12 animate-element up" id="myElement">
  <p><br>Hii, This is Vigneshwaran from Karur, Tamilnadu. I have completed my HIGHER studies in P.A Vidya Bhavan Higher Secondary School, Karur.
  I have Completed my BACHELOR OF COMPUTER APPLICATION degree at Valluvar College of Science and Management, Karur. and I have completed FrontEnd Web Developement course at AXEXA Techonolgy Solution, Bangalore.</p>  
</div>
</div>      
<!---------------------------------------------------- section2 ----------------------------------------------------->
<div class="sk"><br>
  <h4 [ngStyle]="asks">{{ask}}</h4><hr><br>
  <div class="row">
    <div class="col-lg-6 animate-element left" id="myElement">
      <p>HTML</p><div class="progress">
            <div class="progress-bar animate-element left" id="myElement" role="progressbar" aria-valuenow="90"
            aria-valuemin="0" aria-valuemax="100" style="width:90%">
              90%
            </div></div><br>
          <p>CSS</p><div class="progress">
            <div class="progress-bar animate-element left" id="myElement" role="progressbar" aria-valuenow="90"
            aria-valuemin="0" aria-valuemax="100" style="width:90%">
              90%
            </div></div><br>
            <p>JAVASCRIPT</p><div class="progress">
              <div class="progress-bar animate-element left" id="myElement" role="progressbar" aria-valuenow="90"
              aria-valuemin="0" aria-valuemax="100" style="width:90%">
                90%
              </div></div><br>  
    </div>
    <div class="col bg-6 animate-element left" id="myElement">
      <p>TYPESCRIPT</p><div class="progress">
        <div class="progress-bar animate-element left" id="myElement" role="progressbar" aria-valuenow="90"
        aria-valuemin="0" aria-valuemax="100" style="width:90%">
          90%
        </div></div><br>
      <p>BOOTSTRAP</p><div class="progress">
        <div class="progress-bar animate-element left" id="myElement" role="progressbar" aria-valuenow="90"
        aria-valuemin="0" aria-valuemax="100" style="width:90%">
          90%
        </div></div><br>
      <p>ANGULAR</p><div class="progress">
        <div class="progress-bar animate-element left" id="myElement" role="progressbar" aria-valuenow="90"
        aria-valuemin="0" aria-valuemax="100" style="width:90%">
          90%
        </div></div>
    </div>
  </div> 
</div>  
</div><br><br> 
</div><br>

